#valet-support-note table th {
	width: 40px;
}
.valet-note-single-cotainer {
	max-width: 99%;
	border-radius: 8px;
}
.valet-note-single-cotainer textarea {
	margin: 8px 0 4px;
	width: 99.75%;
}
.valet-note-single-cotainer p, .valet-note-single-cotainer textarea {
	font-size: 16px;
	line-height: 23.2px;
	letter-spacing: 0.5;
}

.valet-notes-loader {
	display: block;
	margin: 0 auto;
	width: 30px;
	border: none;
}

.valet-note-single-cotainer .components-button-group .components-button:first-child {
	margin-right: 12px;
}

.valet-central.search-input-text {
	min-height: 26px;
	font-size: 12px;
}
.valet-central.search-button {
	margin-left: 0.6em;
}

.valet-central.no-list {
	margin: 2em 1em;
	font-weight: bold;
}
